<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
  </head> 
  <body>
    <iframe src="about:blank" name="action" id="actionFrm"></iframe>
    <div class="container">

    <div class="card">
	<div class="title">shortcut</div>
        <div class="player">
	  <div class="main-buttons" >
            <div class="buttons-container">
	      <a class="ion-android-notifications-none" target="action" href="/api/bose/ALL/notify/default"> knock</a>
            </div>
            <div class="buttons-container">
	      <a class="ion-android-notifications-none" target="action" href="/api/bose/ALL/notify/diner"> diner</a>
            </div>
            <div class="buttons-container">
	      <a class="ion-android-notifications-none" target="action" href="/api/bose/ALL/notify/down"> down</a>
            </div>
            <div class="buttons-container">
	      <a class="ion-android-notifications-none" target="action" href="/api/bose/ALL/notify/shut"> shut</a>
            </div>
          </div>
        </div>
	<div class="description">&nbsp;
        </div>
        <div>
	</div>
    </div>

    <% 

      for (var boseindex=0; boseindex < boses.length; boseindex++) { 
	var bose = boses[boseindex];
        if ( bose.zone.isSlave)
		continue;
	if ( bose.powerOn === null)
		continue;
    %>
    
    <div class="card">
	      <div class="title" title="<%= JSON.stringify( bose, null, 2) %>" ><%= bose.name + ( bose.zone.isMaster ? " Group" : "" ) %></div>

	      <div class="player">

		      <div class="main-buttons" >
			      <div class="buttons-container">
				      <a class="ion-power"           target="action" href="/api/bose/<%= bose.mac %>/key/POWER" style="color: <%= bose.powerOn ? 'green' : 'black'%>"></a>
				      <a class="ion-play"            target="action" href="/api/bose/<%= bose.mac %>/key/PLAY_PAUSE"></a>
				      <!-- <a class="ion-volume-mute"     target="action" href="/api/bose/<%= bose.mac %>/key/MUTE"  style="<%= bose.powerOn ? '' : 'visibility: hidden' %>"></a> -->
			      </div>
			      <div class="buttons-container">
				      <a class="ion-skip-backward"   target="action" href="/api/bose/<%= bose.mac %>/key/PREV_TRACK" style="<%= (bose.powerOn && bose.playing.skipPreviousEnabled) ? '' : 'visibility: hidden' %>"></a>
				      <a class="ion-skip-forward"    target="action" href="/api/bose/<%= bose.mac %>/key/NEXT_TRACK" style="<%= (bose.powerOn && bose.playing.skipEnabled        ) ? '' : 'visibility: hidden' %>"></a>
			      </div>
			      <div class="buttons-container" style="<%= (bose.powerOn && bose.playing.favoriteEnabled) ? '' : 'visibility: hidden;' %>">
				      <a class="ion-thumbsup"        target="action" href="/api/bose/<%= bose.mac %>/key/THUMBS_UP" style="<%= bose.playing.isFavorite ? 'color: green;' : '' %>"></a>
				      <a class="ion-thumbsdown"      target="action" href="/api/bose/<%= bose.mac %>/key/THUMBS_DOWN"></a>
			      </div>
		      </div>
		      <div class="art-container">
			      <% if (('art' in bose.playing) && bose.playing.art ) { %>
			      <img class="art" src="<%= bose.playing.art %>"/>
			      <div id="favorite" class="ion-heart" style="<%= bose.playing.isFavorite ? '' : 'display: none;' %>"></div>
			      <img id="spotify"  src="spotify.svg" style="<%= bose.source == 'SPOTIFY' ? '' : 'display: none;' %>"></img>
			      <% } else { %>
			      <img class="art" src="bose.svg"/>
			      <% } %>
				
		      </div>

	      </div>

	      <div class="description">
		      <% if (bose.playing.track || bose.playing.stationName ) { %>
		      <div class="text-crop <%= bose.playing.stationName ? 'ion-radio-waves' : 'ion-music-note' %>"> <%= bose.playing.track ? bose.playing.track : bose.playing.stationName %></div>
		      <div class="text-crop ion-person" style="<%= bose.playing.artist ? '' : 'visibility: hidden;' %>"> <%= bose.playing.artist %></div>
		      <% } else { %>
		      <div class="text-crop"><br/></div>
		      <div class="text-crop"><br/></div>
		      <% } %>
	      </div>

	      <div class="buttons-container ion-bookmarks preset">
		  <% for (var i=1; i <= 6; i++) {
			if( bose.presets[i] != null) {
				%><a target="action" <% if( ! bose.presets[i].enabled) { %>disabled="disabled"<% } %> 
	                             href="/api/bose/<%= bose.mac %>/key/PRESET_<%= i %>" 
			             title="<%= bose.presets[i].name %>"
				     <% if ( ('art' in bose.presets[i]) && bose.presets[i].art ) { %>
				     style="background-image: url(<%= bose.presets[i].art %>);"
				     <% } %>
		                     ><%= i %></a><% 
			} 
		  } %>
	      </div>
	      <div class="buttons-container ion-bookmarks">
		      <div>Euronews</div>
		<a target="action" href="/api/bose/<%= bose.mac %>/play_url/http%3A%2F%2Fpodcasts.euronewsradio.com%2Fmedia%2Fpodcast%2FEuronewsFR-News.mp3" title="Euronews">FR</a> 
		<a target="action" href="/api/bose/<%= bose.mac %>/play_url/http%3A%2F%2Fpodcasts.euronewsradio.com%2Fmedia%2Fpodcast%2FEuronewsIT-News.mp3" title="Euronews">IT</a> 
		<a target="action" href="/api/bose/<%= bose.mac %>/play_url/http%3A%2F%2Fpodcasts.euronewsradio.com%2Fmedia%2Fpodcast%2FEuronewsEN-News.mp3" title="Euronews">EN</a> 
	      </div>

	      <div style="<%= bose.powerOn ? '' : 'visibility: hidden;' %>">
			<div class="volume-container">
			<div class="p33"><span class="text-crop ion-volume-high fake-button"> volume</span></div>
			<div class="p66"><input class="volume" data-mac="<%= bose.mac %>" type="range" min="1" max="100" value="<%= bose.volume.current %>" ></input><span>?</span></div>
			</div>
	      <% for (var j=0; j < boses.length; j++) {
			if (boseindex==j) continue;
			var slave = boses[j];
			if ( bose.zone.slaves.indexOf( slave.mac ) == -1 ) {
		      %>
			<div class="volume-container">
			<div class="p33 text-crop"><a class="ion-toggle"        target="action" href="/api/bose/<%= bose.mac %>/group/<%= slave.mac %>"> <%= slave.name %></a></div>
			<div class="p66"><input data-mac="<%= slave.mac %>" class="volume" type="range" min="1" max="100" value="<%= slave.volume.current %>" disabled=disabled /><span>?</span></div>
			</div>
		      <% } else { %>
			<div class="volume-container">
			<div class="p33 text-crop"><a class="ion-toggle-filled" target="action" href="/api/bose/<%= bose.mac %>/ungroup/<%= slave.mac %>"> <%= slave.name %></a></div>
			<div class="p66"><input data-mac="<%= slave.mac %>" class="volume" type="range" min="1" max="100" value="<%= slave.volume.current %>" /><span>?</span></div>
			</div>
			<% } } %>
	      </div>

	      <div class="buttons-hack">
		      <div>
			      <span title="ap">AP: <%= config['access-points'][ bose.stationStats.bssid ] %></span>
			      <%= bose.wifiSignal.replace( /_SIGNAL/, "") %>
			      <span title="rssi"><%= bose.stationStats.rssi_dBm %> dBm</span>
			      <span title="speed"><%= bose.stationStats.linkSpeed_Mbps %> Mbps</span>
		      </div>
		      <a href="/api/bose/<%= bose.mac %>">API details</a>
		      <a target="action" href="/api/bose/<%= bose.mac %>/sync">sync</a>
		      <a target="action" href="/api/bose/<%= bose.mac %>/reboot" onclick="return confirm('sure ?');">reboot</a>
	      </div>
      </div>
    <% } %>
    </div>
  </body>
</html>

