<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
  </head> 
  <body>
    <iframe src="about:blank" name="action" id="actionFrm"></iframe>
    <div class="container">
    <% for (var i=0; i < boses.length; i++) { 
	var bose = boses[i];
        if ( bose.zone.isSlave)
		continue;
    %>
      <div class="card">
	      <div class="title" title="<%= JSON.stringify( bose, null, 2) %>" ><%= bose.name + ( bose.zone.isMaster ? " Group" : "" ) %></div>

	      <div class="player">

		      <div class="main-buttons" >
			      <div class="buttons-container">
				      <a class="ion-power"           target="action" href="/api/bose/<%= bose.mac %>/key/POWER" style="color: <%= bose.powerOn ? 'green' : 'black'%>"></a>
				      <a class="ion-volume-mute"     target="action" href="/api/bose/<%= bose.mac %>/key/MUTE"  style="<%= bose.powerOn ? '' : 'visibility: hidden' %>"></a>
			      </div>
			      <div class="buttons-container">
				      <a class="ion-skip-backward"   target="action" href="/api/bose/<%= bose.mac %>/key/PREV_TRACK" style="<%= (bose.powerOn && bose.playing.skipPreviousEnabled) ? '' : 'visibility: hidden' %>"></a>
				      <a class="ion-play"            target="action" href="/api/bose/<%= bose.mac %>/key/PLAY_PAUSE"></a>
				      <a class="ion-skip-forward"    target="action" href="/api/bose/<%= bose.mac %>/key/NEXT_TRACK" style="<%= (bose.powerOn && bose.playing.skipEnabled        ) ? '' : 'visibility: hidden' %>"></a>
			      </div>
			      <div class="buttons-container" style="<%= (bose.powerOn && bose.playing.favoriteCapable) ? '' : 'visibility: hidden;' %>">
				      <a class="ion-thumbsup"        target="action" href="/api/bose/<%= bose.mac %>/key/THUMBS_UP"></a>
				      <a class="ion-thumbsdown"      target="action" href="/api/bose/<%= bose.mac %>/key/THUMBS_DOWN"></a>
			      </div>
		      </div>
		      <div class="art-container">
			      <% if (('art' in bose.playing) && bose.playing.art ) { %>
			      <img class="art" src="<%= bose.playing.art %>"/>
			      <% } %>
		      </div>

	      </div>

	      <div class="description">
		      <% if (('art' in bose.playing) && bose.playing.art ) { %>
		      <div class="text-crop ion-music-note"> <%= bose.playing.track ? bose.playing.track : bose.playing.stationName %></div>
		      <div class="text-crop ion-person"> <%= bose.playing.artist %></div>
		      <% } else { %>
		      <div class="text-crop"><br/></div>
		      <div class="text-crop"><br/></div>
		      <% } %>
	      </div>

	      <div class="buttons-container ion-bookmarks">
		      <a target="action" href="/api/bose/<%= bose.mac %>/key/PRESET_1">1</a>
		      <a target="action" href="/api/bose/<%= bose.mac %>/key/PRESET_2">2</a>
		      <a target="action" href="/api/bose/<%= bose.mac %>/key/PRESET_3">3</a>
		      <a target="action" href="/api/bose/<%= bose.mac %>/key/PRESET_4">4</a>
		      <a target="action" href="/api/bose/<%= bose.mac %>/key/PRESET_5">5</a>
		      <a target="action" href="/api/bose/<%= bose.mac %>/key/PRESET_6">6</a>
	      </div>

	      <div style="<%= bose.powerOn ? '' : 'visibility: hidden;' %>">
			<div class="volume-container">
			<div class="p33 text-crop">volume</div>
			<div class="p66"><input class="volume" data-mac="<%= bose.mac %>" type="range" min="1" max="100" value="<%= bose.volume.current %>" ></input><span>?</span></div>
			</div>
	      <% for (var j=0; j < boses.length; j++) {
			if (i==j) continue;
			var slave = boses[j];
			if ( bose.zone.slaves.indexOf( slave.mac ) == -1 ) {
		      %>
			<div class="volume-container">
			<div class="p33 text-crop"><a class="ion-toggle"        target="action" href="/api/bose/<%= bose.mac %>/group/<%= slave.mac %>"><%= slave.name %></a></div>
			<div class="p66"><input data-mac="<%= slave.mac %>" class="volume" type="range" min="1" max="100" value="<%= slave.volume.current %>" disabled=disabled /><span>?</span></div>
			</div>
		      <% } else { %>
			<div class="volume-container">
			<div class="p33 text-crop"><a class="ion-toggle-filled" target="action" href="/api/bose/<%= bose.mac %>/ungroup/<%= slave.mac %>"><%= slave.name %></a></div>
			<div class="p66"><input data-mac="<%= slave.mac %>" class="volume" type="range" min="1" max="100" value="<%= slave.volume.current %>" /><span>?</span></div>
			</div>
			<% } } %>
	      </div>
      </div>
    <% } %>
    </div>
  </body>
</html>

